*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Log{
    display:flex;
   justify-content: center; 
}
#Titulo{
    font-family: 'Shadows Into Light', cursive;
    display:flex;
    justify-content: center; 
}
#Textos{
    font-family: 'Inconsolata', monospace;
}
.Logoimg{
    width: 300px;
    height: 300px;
}

.Contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#cajitas{
     max-width: 500px;
    max-height:max-content;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    
    
}
#imagenes{
    transition: all 0.5s;
    width: 300px;
    height: 300px;
}
#imagenes:hover{
    cursor: pointer;
    transform: scale(0.9)
}
