*{
    Margin:0;
    padding: 0;
}

.Logo{
    height: 80px;
    width: 80px;
}

#barra1{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
}


#barra2{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
}



#img4com{
    width: 500px;
    height: 500px;
    margin: 20px;
    transition: all 0.5s;
}

#img4com:hover{
    cursor: pointer;
    transform: scale(1.1)
}

.Contimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Ayuda{
    width: 50px;
    height: 40px;
}

.Quintocomponente{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.MetodosPago{
    width: 600px;
    height: 300px;
   
}

.cja{
    max-width: 500px;
    max-height:max-content;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(228, 235, 235);
    
}
